/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/laravel-excel
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker

composer.phar
composer.lock
nohup.out
.DS_Store
Thumbs.db
!/public/images/perfil/default_male.jpg
!/public/images/perfil/default_male.png
/public/images/perfil
!/public/images/perfil/default_female.jpg
!/public/images/perfil/default_female.png
/public/images/shared/
!/public/images/shared/encabezado-prueba-membrete.jpg
!/public/images/shared/piepagina-prueba-membrete.jpg
/App/Http/Controllers/Alumnos/archivos/*
!/App/Http/Controllers/Alumnos/archivos/micolevirtual_iniciar_bachillerato.sql
public/._images
public/._images.zip
public/images-original/Logo_MyVc_Header.gif
public/images-original/perfil/user_1/bebe Python(1).jpg
public/images-original/perfil/user_1/bebe Python.jpg
public/images-original/perfil/user_1/Broma drop.png
public/images-original/perfil/user_1/buffet(1).jpg
public/images-original/perfil/user_1/buffet.jpg
public/images-original/perfil/user_1/bus comprimido.jpg
public/images-original/perfil/user_1/mi google.jpg
public/images-original/perfil/user_3/arboles wifi(1).jpg
public/images-original/perfil/user_3/arboles wifi.jpg
public/images-original/perfil/user_3/bebe Python(1).jpg
public/images-original/perfil/user_3/bebe Python.jpg
public/images-original/perfil/user_3/bus comprimido.jpg
public/images-original/perfil/user_3/copa.png
public/images-original/perfil/user_3/Popo dura.jpg
public/images.zip
public/images/._author_bord.png
public/images/._back_top.png
public/images/._button_down.png
public/images/._carousel_arrows.png
public/images/._effect_2.png
public/images/._fullscreen
public/images/._icon1.png
public/images/._icon2.png
public/images/._icon3.png
public/images/._icon4.png
public/images/._link.png
public/images/._Logo_MyVc_Header.gif
public/images/._MyVc-1.gif
public/images/._perfil
public/images/._perfil.zip
public/images/._portfolio
public/images/._prettyPhoto
public/images/._slide10_bg.jpg
public/images/._slide1_bg.jpg
public/images/._slide2_bg.jpg
public/images/._slide4_bg.jpg
public/images/._slide8_bg.jpg
public/images/._testim_span_bg.png
public/images/._thumbnails
public/images/._zoom.png
public/images/author_bord.png
public/images/back_top.png
public/images/button_down.png
public/images/carousel_arrows.png
public/images/effect_2.png
public/images/fullscreen/._1.jpg
public/images/fullscreen/._2.jpg
public/images/fullscreen/._3.jpg
public/images/fullscreen/._4.jpg
public/images/fullscreen/._5.jpg
public/images/fullscreen/._6.jpg
public/images/fullscreen/._high.gif
public/images/fullscreen/._huge.gif
public/images/fullscreen/._wide.gif
public/images/fullscreen/1.jpg
public/images/fullscreen/2.jpg
public/images/fullscreen/3.jpg
public/images/fullscreen/4.jpg
public/images/fullscreen/5.jpg
public/images/fullscreen/6.jpg
public/images/fullscreen/high.gif
public/images/fullscreen/huge.gif
public/images/fullscreen/wide.gif
public/images/icon1.png
public/images/icon2.png
public/images/icon3.png
public/images/icon4.png
public/images/link.png
public/images/MyVc-1.gif
public/images/perfil.zip
public/images/portfolio/._1.jpg
public/images/portfolio/._2.jpg
public/images/portfolio/._3.jpg
public/images/portfolio/._4.jpg
public/images/portfolio/._5.jpg
public/images/portfolio/._6.jpg
public/images/portfolio/._7.jpg
public/images/portfolio/._8.jpg
public/images/portfolio/._effect_2.png
public/images/portfolio/1.jpg
public/images/portfolio/2.jpg
public/images/portfolio/3.jpg
public/images/portfolio/4.jpg
public/images/portfolio/5.jpg
public/images/portfolio/6.jpg
public/images/portfolio/7.jpg
public/images/portfolio/8.jpg
public/images/portfolio/effect_2.png
public/images/prettyPhoto/._dark_rounded
public/images/prettyPhoto/._dark_square
public/images/prettyPhoto/._default
public/images/prettyPhoto/._facebook
public/images/prettyPhoto/._light_rounded
public/images/prettyPhoto/._light_square
public/images/prettyPhoto/dark_rounded/._btnNext.png
public/images/prettyPhoto/dark_rounded/._btnPrevious.png
public/images/prettyPhoto/dark_rounded/._contentPattern.png
public/images/prettyPhoto/dark_rounded/._default_thumbnail.gif
public/images/prettyPhoto/dark_rounded/._loader.gif
public/images/prettyPhoto/dark_rounded/._sprite.png
public/images/prettyPhoto/dark_rounded/btnNext.png
public/images/prettyPhoto/dark_rounded/btnPrevious.png
public/images/prettyPhoto/dark_rounded/contentPattern.png
public/images/prettyPhoto/dark_rounded/default_thumbnail.gif
public/images/prettyPhoto/dark_rounded/loader.gif
public/images/prettyPhoto/dark_rounded/sprite.png
public/images/prettyPhoto/dark_square/._btnNext.png
public/images/prettyPhoto/dark_square/._btnPrevious.png
public/images/prettyPhoto/dark_square/._contentPattern.png
public/images/prettyPhoto/dark_square/._default_thumbnail.gif
public/images/prettyPhoto/dark_square/._loader.gif
public/images/prettyPhoto/dark_square/._sprite.png
public/images/prettyPhoto/dark_square/btnNext.png
public/images/prettyPhoto/dark_square/btnPrevious.png
public/images/prettyPhoto/dark_square/contentPattern.png
public/images/prettyPhoto/dark_square/default_thumbnail.gif
public/images/prettyPhoto/dark_square/loader.gif
public/images/prettyPhoto/dark_square/sprite.png
public/images/prettyPhoto/default/._default_thumb.png
public/images/prettyPhoto/default/._loader.gif
public/images/prettyPhoto/default/._sprite.png
public/images/prettyPhoto/default/._sprite_next.png
public/images/prettyPhoto/default/._sprite_prev.png
public/images/prettyPhoto/default/._sprite_x.png
public/images/prettyPhoto/default/._sprite_y.png
public/images/prettyPhoto/default/default_thumb.png
public/images/prettyPhoto/default/loader.gif
public/images/prettyPhoto/default/sprite.png
public/images/prettyPhoto/default/sprite_next.png
public/images/prettyPhoto/default/sprite_prev.png
public/images/prettyPhoto/default/sprite_x.png
public/images/prettyPhoto/default/sprite_y.png
public/images/prettyPhoto/facebook/._btnNext.png
public/images/prettyPhoto/facebook/._btnPrevious.png
public/images/prettyPhoto/facebook/._contentPatternBottom.png
public/images/prettyPhoto/facebook/._contentPatternLeft.png
public/images/prettyPhoto/facebook/._contentPatternRight.png
public/images/prettyPhoto/facebook/._contentPatternTop.png
public/images/prettyPhoto/facebook/._default_thumbnail.gif
public/images/prettyPhoto/facebook/._loader.gif
public/images/prettyPhoto/facebook/._sprite.png
public/images/prettyPhoto/facebook/btnNext.png
public/images/prettyPhoto/facebook/btnPrevious.png
public/images/prettyPhoto/facebook/contentPatternBottom.png
public/images/prettyPhoto/facebook/contentPatternLeft.png
public/images/prettyPhoto/facebook/contentPatternRight.png
public/images/prettyPhoto/facebook/contentPatternTop.png
public/images/prettyPhoto/facebook/default_thumbnail.gif
public/images/prettyPhoto/facebook/loader.gif
public/images/prettyPhoto/facebook/sprite.png
public/images/prettyPhoto/light_rounded/._btnNext.png
public/images/prettyPhoto/light_rounded/._btnPrevious.png
public/images/prettyPhoto/light_rounded/._default_thumbnail.gif
public/images/prettyPhoto/light_rounded/._loader.gif
public/images/prettyPhoto/light_rounded/._sprite.png
public/images/prettyPhoto/light_rounded/btnNext.png
public/images/prettyPhoto/light_rounded/btnPrevious.png
public/images/prettyPhoto/light_rounded/default_thumbnail.gif
public/images/prettyPhoto/light_rounded/loader.gif
public/images/prettyPhoto/light_rounded/sprite.png
public/images/prettyPhoto/light_square/._btnNext.png
public/images/prettyPhoto/light_square/._btnPrevious.png
public/images/prettyPhoto/light_square/._default_thumbnail.gif
public/images/prettyPhoto/light_square/._loader.gif
public/images/prettyPhoto/light_square/._sprite.png
public/images/prettyPhoto/light_square/btnNext.png
public/images/prettyPhoto/light_square/btnPrevious.png
public/images/prettyPhoto/light_square/default_thumbnail.gif
public/images/prettyPhoto/light_square/loader.gif
public/images/prettyPhoto/light_square/sprite.png
public/images/slide10_bg.jpg
public/images/slide1_bg.jpg
public/images/slide2_bg.jpg
public/images/slide4_bg.jpg
public/images/slide8_bg.jpg
public/images/testim_span_bg.png
public/images/thumbnails/._flash-logo.png
public/images/thumbnails/._quicktime-logo.gif
public/images/thumbnails/._t_1.jpg
public/images/thumbnails/._t_2.jpg
public/images/thumbnails/._t_3.jpg
public/images/thumbnails/._t_4.jpg
public/images/thumbnails/._t_5.jpg
public/images/thumbnails/flash-logo.png
public/images/thumbnails/quicktime-logo.gif
public/images/thumbnails/t_1.jpg
public/images/thumbnails/t_2.jpg
public/images/thumbnails/t_3.jpg
public/images/thumbnails/t_4.jpg
public/images/thumbnails/t_5.jpg
public/images/zoom.png


docker-compose/mysql/micolev1*
app/.DS_Store
app/Http/Controllers/.DS_Store
app/Http/.DS_Store

public/uploads
